<html>
  <head>
    <title>RAPiG-D</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css") }}”> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel=”stylesheet” integrity=”sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
      <h2>Reinforcement Learning based Automated Path Planning in Garden Environment using Depth</h2>
      <p>Step: {{step}}</p>
      <p>Episode: {{ep}}</p>
      <p>Action: {{action}}</p>
  </body>
  <script>
    var chart;

    function requestData()
    {
        // Ajax call to get the Data from Flask
        var requests = $.get('/data');


        var tm = requests.done(function (result)
        {
            var series = chart.series[0],
                shift = series.data.length > 20;

            // add the point
            chart.series[0].addPoint(result, true, shift);

            // call it again after one second
            setTimeout(requestData, 2000);
        });
    }

    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'data-container',
                defaultSeriesType: 'spline',
                events: {
                    load: requestData
                }
            },
            title: {
                text: 'Live random data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                maxZoom: 20 * 1000
            },
            yAxis: {
                minPadding: 0.2,
                maxPadding: 0.2,
                title: {
                    text: 'Value',
                    margin: 80
                }
            },
            series: [{
                name: 'Random data',
                data: []
            }]
        });

    });
  </script>
</html>
